.statistics {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    border: 1px solid black;
}
.title {
    font-size: 38px;
    font-weight: 500;
    margin: 20px;
    text-align: center;
    color: rgb(10, 10, 10);
}
.statList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    border-top: 1px solid black;
    background-color: rgba(154, 154, 154, 0.315);
}
.item {
    font-size: 36px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;  
    border-right: 1px solid black;
}
.label {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 5px;
}
.percentage {
    font-size: 30px;
    font-weight: 400;
    color: rgba(255, 0, 0, 0.8);
}